@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Drop the person on the Food Store</li>
			<li>Display how many calories the person ate at the Food Store</li>
        </ul>
    </div>
	<div id="person">
		<img src="~/images/walking-man-black.svg" />
	</div>
	<div id="food-store">
		<img src="~/images/11ab85aaf500b25ce20142a79567d0e5.jpg" />
	</div>
</div>
